@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

/* css reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* normal */

* {
  box-sizing: border-box;
}
body {
  font-family: "Bruno Ace SC", cursive;
}
.container {
  width: 1296px;
  margin: 0 auto;
}
.bg-black {
  background-color: #000000;
}
.font-color-white {
  color: #ffffff;
}
.df {
  display: flex;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.tdn {
  text-decoration: none;
}

/* width */

.w100 {
  width: 100px;
}
.w162 {
  width: 162px;
}
.w196 {
  width: 196px;
}
.w306 {
  width: 306px;
}
.w416 {
  width: 416px;
}
.w526 {
  width: 526px;
}
.w636 {
  width: 636px;
}

/* margin */

.ml-1 {
  margin-left: 4px;
}
.ml-4 {
  margin-left: 16px;
}
.ml-5 {
  margin-left: 20px;
}
.mr-4 {
  margin-right: 16px;
}
.mr-6 {
  margin-right: 24px;
}
.my-6 {
  margin: 24px 0;
}
.mt-4 {
  margin-top: 16px;
}
.mt-7 {
  margin-top: 28px;
}

/* padding */

.p-4 {
  padding: 16px;
}
.pt-8 {
  padding-top: 32px;
}
.pt-9 {
  padding-top: 36px;
}
.pt-10 {
  padding-top: 40px;
}
.pt-40 {
  padding-top: 160px;
}
.py-10 {
  padding: 40px 0px;
}
.py-18 {
  padding: 72px 0px;
}
.py-24 {
  padding: 96px 0px;
}
.py-40 {
  padding: 160px 0px;
}

/* font */

h1 {
  color: #00ffa3;
  font-size: 128px;
  line-height: 192px;
}
h2,
.font-16 {
  font-size: 64px;
  line-height: 96px;
}
.font-6 {
  font-size: 24px;
  line-height: 36px;
}
.font-5 {
  font-size: 20px;
  line-height: 30px;
}
.font-4 {
  font-size: 16px;
  line-height: 24px;
}

/* banner */
.banner-link {
  justify-content: end;
}
.banner-link a {
  background-color: #ffffff;
  color: #000000;
}
/* introduction */
.introduction {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
}
.introduction-icon img {
  width: 32px;
}
/* about-me */
.cardList {
  flex-wrap: wrap;
}
.card {
  border: 1px solid #e3e3e3;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.08);
}
/* contact */
.contact {
  background-image: linear-gradient(#050014 100%, #01021e 89%);
}
.externalLink img {
  height: 162px;
  border-radius: 40px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.08);
}
.externalLink img:hover {
  box-shadow: 0px 0px 16px 3px #9094ff;
}
/* project */
.project-title {
  padding-left: 550px;
}
.project-text {
  flex-direction: column;
}
.project-link {
  align-self: flex-start;
}
.btn {
  border-radius: 32px;
  padding: 12px 24px;
}
